@main(play.i18n.Messages.get("welcome.title"), null) {
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>@play.i18n.Messages.get("welcome.article.1.title")</h1>
        <p>@play.i18n.Messages.get("welcome.article.1.p.1")</p>
        <p><a class="btn btn-primary btn-large" href="@routes.Application.index">@play.i18n.Messages.get("welcome.article.1.learnmore") &raquo;</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <h2>@play.i18n.Messages.get("welcome.article.2.title")</h2>
            <p>@play.i18n.Messages.get("welcome.article.2.p.1")</p>
            <p><a class="btn" href="#">@play.i18n.Messages.get("welcome.article.2.viewdetails") &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>@play.i18n.Messages.get("welcome.article.2.title")</h2>
            <p>@play.i18n.Messages.get("welcome.article.2.p.1")</p>
            <p><a class="btn" href="#">@play.i18n.Messages.get("welcome.article.2.viewdetails") &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>@play.i18n.Messages.get("welcome.article.2.title")</h2>
            <p>@play.i18n.Messages.get("welcome.article.2.p.2")</p>
            <p><a class="btn" href="#">@play.i18n.Messages.get("welcome.article.2.viewdetails") &raquo;</a></p>
        </div>
    </div>
}
